---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import WhatIsIt from "../components/WhatIsIt.astro";
import Features from "../components/Features.astro";
import HowItWorks from "../components/HowItWorks.astro";
import Commands from "../components/Commands.astro";
import Stack from "../components/Stack.astro";
import Cloud from "../components/Cloud.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <WhatIsIt />
    <Features />
    <HowItWorks />
    <Commands />
    <Stack />
    <Cloud />
  </main>
  <Footer />
</Layout>
